<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script th:src="@{/resources/pwstrength.js}"></script>
    <title>update password</title>
</head>
<body>
<div>
    <div class="container">
        <div class="row">
            <h1>reset</h1>
            <form>
                <label class="col-sm-2">password</label>
                <span class="col-sm-5"><input class="form-control" id="password" name="newPassword" type="password"
                                              value=""/></span>
                <br/><br/>

                <label class="col-sm-2" >confirm</label>
                <span class="col-sm-5"><input class="form-control" id="matchPassword" type="password" value=""/></span>
                <br/><br/>

                <label class="col-sm-2">confirm</label>
                <span class="col-sm-5"><input class="form-control" id="token" name="token" th:value="${token}"/></span>

                <br/><br/>
                <button class="btn btn-primary" type="submit" onclick="savePass()">submit</button>
            </form>
        </div>
    </div>

    <script th:inline="javascript">
var serverContext = [[@{/}]];

$(document).ready(function () {
    $('form').submit(function(event) {
        savePass(event);
    });
});

function savePass(event){
    event.preventDefault();

    var formData= $('form').serialize();

    $.post(serverContext + "clientes/updatePassword",formData ,function(data){
    })
}









    </script>
</div>
</body>

</html>